#item{
  width: 800px;
  height: 600px;
  margin: 0px auto;
  border: 1px solid #CCDDEE;
  border-radius: 10px;
  position: relative;
}
pre{
  white-space: pre-wrap;
}
#slide{
  width: 400px;
  height: 300px;
  border: 1px solid #2475FF;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  left: 20px;
}
#silde img{
  max-width: 400px;
  max-height: 300px;
}
#iteminfo{
  width: 300px;
  height: 300px;
  position: absolute;
  left: 450px;
  top: 20px;
  border-radius: 5px;
  border: 1px solid #DDEEFF;
}
#iteminfo ul{
  list-style: none;
}
#iteminfo ul li{
  margin-top: 20px;
}
#iteminfo span.name{
  font-size: 20px;
  font-style: bold;
  margin: 10px;
}
#iteminfo span.price{
  font-size: 16px;
  background-color: #EEDDCC;
  padding: 10px;
  border-radius:2px;
}
#itemdesc{
  width: 730px;
  height:240px;
  position: absolute;
  top: 350px;
  left: 20px;
  border: 1px solid #AABBCC;
  border-radius: 10px;
  background-color: #EEEEEE;
}
#itemdesc span.desc{
  margin: 10px;
  font-size: 15px;
}
#iteminfo input.buybutton{
  background:#66AAEE;
  border-radius:5px;
  border: 0px;
  margin: 100px auto 20px;
  padding: 10px 20px 10px 20px;
}