#tab{
  width: 800px;
  height: 800px;
  margin: 20px auto;
  display: none;
}

.items{
  width:600px;
  margin: 0px auto;
}
.items input[type="button"]{
  display:block;
  margin: 20px auto;
  background: #2471FF;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #5994FF;
  border-radius: 3px;
  color: #D2E2FF;
}
.items ul{
  list-style: none;
  margin: 0px auto;
  padding: 0px;
}
.items ul li{
  width: 100%;
  height: 150px;
  border: 1px solid #CCDDEE;
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
}
.items ul li img{
  max-width: 150px;
  max-height: 100px;
  border-radius: 5px;
  position: absolute;
  top:5px;
  left:0px;
}
.items ul li span.name{
  position: absolute;
  left: 160px;
  top: 10px;
  font-size:20px;
}
.items ul li span.desc{
  position: absolute;
  height:40px;
  left: 10px;
  top: 110px;
  font-size:16px;
  overflow:hidden;
}
.items ul li a:link{
  color: #111111;
}
.item ul li a:hover{
  color: #FF7524;
}
.item ul li a:visited{
  color: #2475FF;
}
