.sign{
    max-width:400px;
    margin:50px auto;
    background:#fff;
    border-radius:2px;
    padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.sign h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
}
.sign ul{
    list-style:none;
    padding:0;
    margin:0;   
}
.sign li{
    display: block;
    padding: 9px;
    border:1px solid #CCDDEE;
    margin-bottom: 15px;
    border-radius: 3px;
}
.sign li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}
.sign li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 18px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.sign input[type="text"],
.sign input[type="date"],
.sign input[type="datetime"],
.sign input[type="email"],
.sign input[type="number"],
.sign input[type="search"],
.sign input[type="time"],
.sign input[type="url"],
.sign input[type="password"],
.sign textarea,
.sign select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.sign input[type="text"]:focus,
.sign input[type="date"]:focus,
.sign input[type="datetime"]:focus,
.sign input[type="email"]:focus,
.sign input[type="number"]:focus,
.sign input[type="search"]:focus,
.sign input[type="time"]:focus,
.sign input[type="url"]:focus,
.sign input[type="password"]:focus,
.sign textarea:focus,
.sign select:focus 
{
}
.sign li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #7F7F7F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.sign textarea{
    resize:none;
}
.sign input[type="submit"],
.sign input[type="button"]{
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
}
.sign input[type="submit"]:hover,
.sign input[type="button"]:hover{
    background: #6B9FFF;
    color:#fff;
}
