<!DOCTYPE HTML>
<html>
</head>
{% block head %}
<meta charset="utf-8">
<title>{% block title %}{% endblock%}</title>
{% endblock %}
<link rel="stylesheet" type="text/css" href="/static/css/base.css">
</head>
<body>
    <div class="header">
    {% block header %}
    <ul>
       <li class='active left first'><a href="{{ url_for('index') }}" ><span>主页</span></a></li>
       <li class='left'><a href='#'><span>公益</span></a></li>
       <li class='left'><a href='#'><span>纪念品</span></a></li>
       <li class='left'><a href='#'><span>互动娱乐</span></a></li>
       {% if "username" in session %}
        <li class='right last'><a href="{{ url_for('signout') }}"><span>登出</span></a></li>
        <li class='right'><a href="{{ url_for('profile', username=session.get('username')) }}"><span>{{ session.get("name") }}</span></a></li>
        {% else %}
        <li class='right last'><a href="{{ url_for('signup') }}"><span>注册</span></a></li>
        <li class='right'><a href="{{ url_for('signin') }}"><span>登录</span></a></li>   
       {% endif %}
    </ul>
    {% endblock %}
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">
    {% block footer %}
        Copyright &copy;
    {% endblock %}
    </div>
<script type="text/javascript" src="/static/js/jquery.js"></script>
{% block script %}
{% endblock %}
</body>
</html>