{% extends "base.html" %}
{% block title %}所有物品{% endblock %}
{% block head %}
<style type="text/css">
#itemtable{
    border: 0px;
    margin: 0px auto;
}
#itemtable ul {
    width: 800px;
    position: relative;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
#itemtable li {
    text-align: center;
    background-color:#EEEEFF;
    width: 24%;
    height: 150px;
    float: left;
    border: 0px solid black;
    margin: 4px;
    position: relative;
}
#itemtable li:hover{
  background-color: #FFDDFF;
}
#itemtable li img{
    max-width: 160px;
    max-height: 120px;
    position: absolute;
    top: 5px;
    left: 15px;
    border-radius: 2px;
}
#itemtable li span{
    text-align: center;
    position: absolute;
    top: 130px;
}
#itemtable li a:link{
    color: #222222;
}
#itemtable li a:hover{
    color: #222222;
}
#itemtable li a:visited{
    color: #222222;
}
</style>
{% endblock %}
{% block content %}
<div id="itemtable">
    <ul>
    {% for it in items %}
        <li><a href="{{ it.url }}">
            <img src="{{ it.imageurls[0] }}">
            <span>{{ it.name }}</span>
        </a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}