{% extends "base.html" %}
{% block title %}Item{%endblock%}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/item.css">
{% endblock %}
{% block content %}
<div id="item">
  <div id="slide">
    {% for url in item.imageurls %}
    <div class="slide_item"><img class="itemimg"  src="{{ url }}" onclick="view(this);" style="width:100%;height:100%;"></div>
    {% endfor %}
  </div>
  <div id="iteminfo">
    <ul>
      <li><span class="name">{{ item.name }}</span></li>
    <li><span class="price">￥{{ item.price }}</span><li>
      <li><input type="button" value="买买买" class="buybutton" onclick="add2cart();"></li>
    </ul>
  </div>
  <div id="itemdesc">
<span class="desc"><pre>
{{item.desc}}
</pre></span>
  </div>
</div>
<div class="dialog">
<img src="" id="bigimg" width="100%" height="100%">
</div>
<input type="text" id="itemid" value="{{ item.id }}" style="display:none;">
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/cloudjs/js/cloudjs.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".itemimg").show();
  cloudjs("#slide").slide({direction: 'x'});
});
function view(im){
  $("#bigimg")[0].src = im.src;
  cloudjs(".dialog").dialog({title:"", width:800, height:"auto"});
}
$(document).mouseup(function (e){
    var container = $(".dialog");

    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0) // ... nor a descendant of the container
    {
        cloudjs(".dialog").dialog("close");
    }
});
function add2cart(){
    var id = $("#itemid").val();
    $.ajax({
        url: "/addtocart",
        type: "post",
        data: {
            id: id
        },
        timeout: 5000,
        error: function(data){

        },
        success: function(data){
            var ret = eval("(" + data + ")");
            if(ret.error){

            }
            if(ret.success){
                
            }
        }
    });

}
</script>
{% endblock %}