<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/topbar.css">
    <link rel="stylesheet" href="/static/css/avatar.css">
    <link rel="stylesheet" href="/static/css/sign.css">
    <link rel="stylesheet" href="/static/css/profile.css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/cloudjs/js/cloudjs.js"></script>
    <style>
        .avatar-upload {
            display: block;
            width: 200px;
            height: 200px;
            border-radius: 160px;
            margin: 50px auto 0px auto;
            overflow: hidden;
        }
        .avatar-upload img {
            max-width: 200px;
            max-height: 200px;
        }
    </style>
</head>
<body>
<div id='cssmenu'>
<ul>
   <li class='active left first'><a href="{{ url_for('index') }}" ><span>主页</span></a></li>
   <li class='left'><a href='#'><span>Products</span></a></li>
   <li class='left'><a href='#'><span>Company</span></a></li>
   {% if "username" in session %}
    <li class='right last'><a href="{{ url_for('signout') }}"><span>登出</span></a></li>
    <li class='right'><a href="{{ url_for('profile', username=session.get('username')) }}"><span>{{ session.get("name") }}</span></a></li>
    {% else %}
    <li class='right last'><a href="{{ url_for('signup') }}"><span>注册</span></a></li>
    <li class='right'><a href="{{ url_for('signin') }}"><span>登录</span></a></li>   
   {% endif %}
</ul>
</div>

<div class="avatar-upload">
    <img src="{{ user.avatar }}">
</div>

<div id="tab" >
    <ul class="tab_head">
        <li class="tab_tab">个人资料</li>
        <li class="tab_tab">我的闲置物品</li>
        <li class="tab_tab">我买到的物品</li>
    </ul>
    <div class="tab_panel">
        <form class="sign" action="/updateprofile" method="post">
          <ul>
            <li>
              <label for="username">用户名</label>
              <input type="text" name="username" disabled="true" value="{{ user.username }}">
            </li>
            <li>
              <label for="email">邮箱</label>
              <input type="email" name="email" disabled="true" value="{{ user.email }}">
            </li>
            <li>
              <label for="nickname">昵称</label>
              <input type="text"name="name" value="{{ user.name }}">
            </li>
            <li>
              <label for="phone" >手机号</label>
              <input type="number" name="phone" value="{{ user.phone }}">
            </li>
            <li>
              <label for="school" >学校</label>
              <input type="text" name="school" value="{{ user.school }}">
            </li>
            <li>
              <label>地址</label> 
              <input type="text" name="address" value=" {{ user.address }} ">
            </li>
            <li>
              <input type="button" value="保存" onclick="updateProfile();">
            </li>
            
          </ul>

        </form>
    </div>

    <!-- 我的闲置物品 -->
    <div class="tab_panel">
        <div class="items">
          <a href="/additem">
          <input type="button" value="添加物品">
          </a>
            <ul>
            {% for it in items %}
            <li>
              <a href="{{ it.url }}">
              <img src="{{ it.imageurls[0] }}">
              <span class="name">{{ it.name }}</span>
              <span class="desc">{{ it.desc }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
    </div>

    <!-- 我的宝贝 -->
    <div class="tab_panel">
        <div class="items">
          <a href="/additem">
          <input type="button" value="去逛逛">
          </a>
            <ul>
            {% for it in goods %}
            <li>
              <a href="{{ it.url }}">
              <img src="{{ it.imageurls[0] }}">
              <span class="name">{{ it.name }}</span>
              <span class="desc">{{ it.desc }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
    </div>
</div>

<script src="/static/js/avatar.js"></script>

<script>

$(document).ready(function(){
  $("#tab").show();
});
new window.AvatarUpload({
    el: document.querySelector('.avatar-upload'),
    uploadUrl: '/avatar',
    onProgress: function(data){
        console.log(data);
    }
    /*,
    onSuccess: function(data){
        console.log("Success!");
        console.log(data);
    },
    onError: function(data){
        console.log("Error!");
        console.log(data);
    }
    */
});
cloudjs('#tab').tab({
    axis: 'y',
    selectIndex: 0
});
function updateProfile(){
    var username = $("input[name=username]").val().trim();
    var email = $("input[name=email]").val().trim();
    var name = $("input[name=name]").val().trim();
    var phone = $("input[name=phone]").val().trim();
    var school = $("input[name=school]").val().trim();
    var address = $("input[name=address]").val().trim();
    $.ajax({
        url: "/updateprofile",
        type: "post",
        data: {
            username: username,
            email: email,
            name: name,
            phone: phone,
            school: school,
            address: address
        },
        error: function(data){

        },
        success: function(data){
            data = eval('('+data+')');
            if(data.error){
                console.log(data.error);
                cloudjs.message({content:data.msg, type:'error'});
            }
            if(data.success){
                cloudjs.message({content:data.msg, type:'success'});
                //window.setTimeout(function(){window.location.href="/";}, 3000);
            }
        }
    });
}
</script>

</body>
</html>